/*@import url('dropDown.css');*/
@charset "utf-8";
body{margin: 0px; padding: 0px; font-family: tahoma; font-size: 12px; line-height: 18px; 
		background:#FFFFFF;color:#666666;min-width:1024px;}

a{ color:#666666;font-family:tahoma; }
#container{padding:0px;margin:0px;background:#980202;}
#container #logout-link{  background: #cfcfcf;
  background-image: -webkit-linear-gradient(top, #cfcfcf, #cccccc);
  background-image: -moz-linear-gradient(top, #cfcfcf, #cccccc);
  background-image: -ms-linear-gradient(top, #cfcfcf, #cccccc);
  background-image: -o-linear-gradient(top, #cfcfcf, #cccccc);
  background-image: linear-gradient(to bottom, #cfcfcf, #cccccc);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 10px;
  padding: 2px 15px 2px 15px;
  text-decoration: none;
}

#container #logout-link:hover{ 
	background: #cccccc;
  background-image: -webkit-linear-gradient(top, #cccccc, #b7b7b7);
  background-image: -moz-linear-gradient(top, #cccccc, #b7b7b7);
  background-image: -ms-linear-gradient(top, #cccccc, #b7b7b7);
  background-image: -o-linear-gradient(top, #cccccc, #b7b7b7);
  background-image: linear-gradient(to bottom, #cccccc, #b7b7b7);
  text-decoration: none;
}


#banner{background:#000000;padding:5px;}	
#top-nav{margin:0px;background:#980202;height:30px;padding:0 20px 0px 20px}
#top-nav ul{margin:0px auto;padding:0px;text-align:center;width:80%;position:relative;}
#top-nav ul li{float:left;margin:0px;list-style:none;width:10%;text-transform:uppercase;color:#b5bcc0;}
#top-nav ul li:last-child{clear:right;}
#top-nav ul li:hover a {background:#c22e2e;font-size:11px;border-left:1px #000000 solid;border-right:1px #000000 solid;color:#000000;font-weight:bold;}
#top-nav ul li:hover ul.menu {display:block;}
#top-nav ul li a{color:#b5bcc0;text-decoration:none;height:25px;width:100%;display:block;padding-top:5px;}
#top-nav ul li a:hover {background:#c22e2e;}

#top-nav ul li ul.menu{display:none;position:absolute;float:left;width:150px;background:#FFFFFF;border-bottom:1px #000000 solid;}
#top-nav ul li ul.menu li{display:block;float:none;height:25px;border-top:1px #000000 solid;width:152px;}
#top-nav ul li ul.menu li a{height:20px;text-align:left;font-size:10px;padding-left:5px;width:145px;color:#b5bcc0;background:#980202;font-weight:normal;}
#top-nav ul li ul.menu li a:hover{background:#c22e2e;color:#000000;font-weight:bold;}

#top-nav p{float:right;margin:5px 0 0 0;color:#b5bcc0;}

#container #inside-content{clear:left;background:#FFFFFF;width:1000px;margin:0px auto;min-height:300px;padding:10px;}
#errormsg{color:red;font-size:18px;border-top:2px red solid;border-bottom:2px red solid;padding:5px;text-align:Center;text-transform:uppercase;}
#footer{background:#980202;text-align:center;margin:0px auto;padding:10px;color:#b5bcc0;font-size:10px;font-family:tahoma;}

#container #top-controls {text-align:right;}
#container #top-controls  a{text-decoration:none;}
#container #top-controls  a:hover{text-decoration:none;}

#container table.data-table {border:1px #000000 solid;padding:0px;}
#container table.data-table thead {background:#5a5e65;}
#container table.data-table thead th{text-align:center;color:#FFFFFF;}

#container table.data-table tbody tr{text-align:center;}
#container table.data-table tbody tr td{border-left:1px #32353a solid;border-bottom:1px #32353a solid;padding:5px;}

#container table.data-table tbody tr:nth-child(2n){background:#eee;}
#container table.data-table tbody tr:hover {background:#b7acac;color:#FFFFFF;}
#container table.data-table { counter-reset: row }

#container table.data-table tbody.autocount tr { counter-increment: row }
#container table.data-table tbody.autocount tr::before {
    content: counter(row);
    display: table-cell;
	border-bottom:1px #32353a solid;
}

#container table.data-table tbody tr td:last-child{width:120px;}

#container table.data-table tfoot tr {background:#5a5e65;}
#container table.data-table tfoot tr td{color:#FFFFFF;text-align:center}

#container #records_paging {text-align:center;margin-top:10px;}
#container #records_paging  a{padding:3px 5px;border:1px #000000 solid;display:inline-block;margin-left:5px;text-decoration:none;color:#000000;}
#container #records_paging  a:hover{background:#5A5E65;color:#FFFFFF;}
#container #records_paging  span{padding:3px 5px;border:1px #000000 solid;display:inline-block;margin-left:5px;font-weight:bold;background:#5A5E65;color:#FFFFFF;}

#login-container{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9fa4a8), color-stop(1, #e3e7ea) );
	background:-moz-linear-gradient( center top, #9fa4a8 5%, #e3e7ea 100% );
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9fa4a8', endColorstr='#e3e7ea');
	min-height:600px;
}
#login-container #login-box{width:400px;margin:10px auto 10px;padding:20px;background:#ebe4e4;box-shadow: -5px 8px 10px 3px #737c83;border-radius:5px;}
#login-container #login-box h2{margin:0px 0px 10px 0px;color:#212528;border-bottom:3px #212528 solid;padding-bottom:10px;text-transform:uppercase;}
#login-container label{font-weight:Bold;color:#212528;}
#login-container #login-box  input[type=text]{height:20px;width:300px;border-radius:5px;padding:3px;font-size:14px;font-family:verdana;}
#login-container #login-box  input[type=text]:focus{background:#f3f163;}
#login-container #login-box  input[type=password]{height:20px;width:300px;border-radius:5px;padding:3px;font-size:14px;font-family:verdana;}
#login-container #login-box  input[type=password]:focus{background:#f3f163;}
#login-container .red-strip{height:10px;background:#980202;}
#login-container .footer{height:10px;background:#980202;}
#login-container .errormsg{width:500px;margin:0px auto;padding:0px 10px 10px 10px;margin-top:20px;}
#login-container #btn_login{display:none;}

#container  .buttongroup  .active{
	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	border:1px solid #83c41a;
	text-shadow:1px 1px 0px #e7f0d8;
	color:#3a701e;
}

#container  .buttongroup  .active :hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}

#container  .buttongroup  .inactive{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #db4c41), color-stop(1, #da271d) );
	background:-moz-linear-gradient( center top, #db4c41 5%, #da271d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#db4c41', endColorstr='#da271d');
	background-color:#db4c41;
	border:1px solid #da271d;
	color:#ffffff;
	text-shadow:1px 1px 0px #292325;;
}

#container  .buttongroup  .active :hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #da271d), color-stop(1, #db4c41) );
	background:-moz-linear-gradient( center top, #da271d 5%, #db4c41 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#da271d', endColorstr='#db4c41');
	background-color:#da271d;
}



#container  .buttongroup .button-toggle  {
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	display:inline-block;
	font-family:Verdana;
	font-size:8px;
	font-weight:bold;
	font-style:normal;
	height:19px;
	line-height:19px;
	width:113px;
	text-decoration:none;
	text-align:center;
	text-transform:uppercase;
}

#container .buttongroup  .button-toggle:active {
	position:relative;
	top:1px;
}

.loader{text-align:center;}
.link {
	display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0px 5px 5px 5px;
    margin: 0.2em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	
}


.link:hover {
    background-color: #ddd;        
    background-image: linear-gradient(top, #fafafa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
}

.link:active {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.link:focus {
    outline: 0;
    background: #fafafa;
} 
   
.link:before {
	float: left;
    font-size: 1.5em;
    pointer-events: none;
    text-align: center; 
	 height:20px;
}

/*-- buttons --*/
.button {        
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	cursor:pointer;
}

.button:hover {
    background-color: #ddd;        
    background-image: linear-gradient(top, #fafafa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
	text-decoration:none;
}

.button:active {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.button:focus {
    outline: 0;
    background: #fafafa;
}    

.button:before {
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;        
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    border-radius: .15em 0 0 .15em;
    pointer-events: none;        
}

/* Hexadecimal entities for the icons */

.add:before {
    content: "\271A";
}

.edit:before {
    content: "\270E";        
}

.delete:before {
    content: "\2718";        
}

.save:before {
    content: "\2714";        
}

.email:before {
    content: "\2709";        
}

.like:before {
    content: "\2764";        
}

.next:before {
    content: "\279C";
}

.star:before {
    content: "\2605";
}

.spark:before {
    content: "\2737";
}

.play:before {
    content: "\25B6";
}

.smiling_face:before       { content: "\263A"; }

/* --- end  of buttons --*/

.form-warning{color:red;font-size:8px;}
