	<ul>
		<li><a href="<?php echo FULL_ADDR;?>">Home</a></li>
		<li>
			<a href="#">First Option</a>
			<ul class="menu">
				<li><a href="#">Menu 1</a></li>
				<li><a href="#">Menu 2</a></li>
				<li><a href="#">Menu 3</a></li>
			</ul>
		</li>
	</ul>
	<p>Welcome <span id="username_label"><?php echo $profile['username'];?></span> <a href="<?php echo FULL_ADDR;?>?logout=logout" id="logout-link">logout</a>  Today is <?php echo date("F d,Y");?></p>
